@charset "UTF=8";

html {
    font-size:  100%;
}

body {
    color: #24292e;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title {
    line-height: 1px;
}

.site-title a {
    display: block;
}

.site-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* 
ヘッダー
*/

#header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    margin: 0 auto;
    padding: 0 4%;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

#header li img.icon {
    width: 20px;

}

 
/* 
mainvisual
*/

#mainvisual {
    margin-bottom: 80px;
    text-align: center;
}

#mainvisual img {
    width: 100%;
    max-width: 1200px;
    height: 420px;
    object-fit: cover;
}

/* 
About
*/

#about ul {
    margin-bottom: 30px;
}

#about li:first-child {
    margin-bottom: 30px;
}

#about p {
    text-align: justify;
}

/* 
Works
*/

#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#works li {
    width: 31%;
    margin-bottom: 23px;
}
#works > ul > li > img {
    object-fit: cover;
    height: 240px;
    width: 640px;
    /* border: solid #000 2px; */
}


/* 
News
*/

#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

/* 
Contact
*/

#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#contact dt {
    width: 15%;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

#contact .button input:hover {
    background: #fff;
    color: #24292e;
}

/* 
フッター
*/

#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
}

/* 
sp
*/

@media screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 70px;
    }

    .site-title {
        margin-top: 20px;
    }

    .sec-title {
        margin-bottom: 40px;
    }


    /* 
    へッター
    */

    #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    /* #header li:first-child {
        margin-left: 0;
    } */
    #header li a {
        color: #fff;
    }
    /* 

ハンバーガーメニュー

*/
#navi {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}

#navi a {
    color: #fff;
}
#navi li {
    margin-bottom: 14px;
}

#navi ul {
    display: block;
}


     /*
  ハンバーガーメニュー
  メニューが開いている時は、「left: 0;」「opacity: 1;」で
  画面左に表示する
  */
  .open #navi {
    left: 0;
    opacity: 1;
  }
  .toggle_btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
    top: -80px;
    right: -160px;
  }
  /*
  ハンバーガーメニューの線の設定（メニューが閉じている時）
  */
  .toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }
  /*
  1本目の線の位置を設定
  */
  .toggle_btn span:nth-child(1) {
    top: 10px;
  }
  /*
  2本目の線の位置を設定
  */
  .toggle_btn span:nth-child(2) {
    bottom: 10px;
  }
  /*
  ハンバーガーメニューの線の設定（メニューが開いている時）
  線の色を白に変更
  */
  .open .toggle_btn span {
    background-color: #fff;
  }
  /*
  1本目の線を-45度回転
  */
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
  }
  /*
  2本目の線を45度回転
  */
  .open .toggle_btn span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
  }
  #mask {
    display: none;
    transition: all 0.5s;
  }
  /*
  メニューを開いている時は、全体を黒背景にする
  */
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
  


    /* 
    works
    */

    #works ul{
        flex-direction: column;
    }

    #works li {
        width: 100%;
    }

    #works > ul > li > img {
        object-fit: cover;
        height: 320px;
        width: 540px;
        /* border: solid #000 2px; */
    }

    /* 
    news
    */

    #news dl {
        flex-direction: column;
    }

    #news dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #news dd {
        width: 100%;
        padding-top: 0;
    }

    /* 
    contact
    */

    #contact dl {
        flex-direction: column;
    }

    #contact dt {
        width: 100%;
    }

    #contact dd {
        width: 100%;
    }
}